.filterClass {
    width: auto;
    margin: 2vw 0 0.5vw 0;
}
.flexMainClass {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}
.flexClass {
    display: flex;
    flex-flow: row wrap;
    margin: 0.5vw 0 0 0;
}
.leftSideClass {
    width: 40vw;
    padding: 0 0 0 3vw;
}
.rightSideClass {
    width: 40vw;
    padding: 0 1vw 0 1vw;
}
.sliderTextClass {
    font-size: 0.6em;
    width: 45%;
    padding: 0.4vw 3vw 0 0;
    margin: 0;
}
.sliderClass {
    width: 45%;
    padding: 0.7vw 0 0 0;
}
.inputTextClass {
    font-size: 0.6em;
    padding: 0 2.5vw 0 3vw;
    margin: 7px 0 0 0;
    text-align: left;
}
.radioClass {
    font-size: 0.6em;
    text-align: left;
    padding: 0.2vw 0 0 3.5vw;
}
.marginBottomClass {
    margin-bottom: 1vw;
}
.width40Class {
    width: 40vw;
    display: flex;
    flex-flow: row wrap;
    margin: 0 1.35vw;
}
.imagesSection img {
    max-width: 1400px !important;
}